<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">ข้อมูลการค้นหา</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">เคส</label></div>
                <mat-form-field>
                  <input matInput placeholder="เคส">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">หัวข้อ</label></div>
                <mat-form-field>
                  <input matInput placeholder="หัวข้อ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">วิธีการแก้ไข</label></div>
                <mat-form-field>
                  <input matInput placeholder="วิธีการแก้ไข">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">หมวดหมู่</label></div>
                <mat-form-field  class="select-field">
                  <mat-select placeholder="เลือกหมวดหมู่ปัญหา">
                    <mat-option *ngFor="let categorys of category" [value]="category">
                      {{categorys}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ช่องทางการติดต่อ</label></div>
                <mat-form-field  class="select-field">
                  <mat-select placeholder="ช่องทางการติดต่อ">
                    <mat-option *ngFor="let contacts of contact" [value]="contact">
                      {{contacts}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ผู้ดำเนินการ</label></div>
                <mat-form-field>
                  <input matInput placeholder="ผู้ดำเนินการ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">หมายเลขห้อง</label></div>
                <mat-form-field>
                  <input matInput placeholder="หมายเลขห้อง">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">วันที่รับเรื่อง</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ถึงวันที่</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="mgbnt inline">
                <button class="btn btn-success" id="save" (click)="btnsave"> ค้นหา</button>
              </div>

            </div>
           
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">บันทึกปัญหาทางเทคนิค</h4>
          </div>
          <div class="card-body">
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style=" width:100%">
                <thead >
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th>{{ dataTable.headerRow[6] }}</th>
                    <th>{{ dataTable.headerRow[7] }}</th>
                    <th class="disabled-sorting text-center">{{ dataTable.headerRow[8] }}</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td class="td-actions text-center">
                      <button mat-raised-button type="button" class="btn btn-warning {{row[8]}}">
                        <i class="material-icons">restore</i> กู้คืนข้อมูล
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>