.inline{
    padding: 5px 0;
    display: inherit;
    align-items: center;
}

.Status{
    text-align: right;
    width: 120px;
    color: black;
    font-size: 16px;
}

.mat-form-field {
    padding: 0 0 0 20px;
}

.mg{
margin: 0 4%;
}
.mgbnt{
    margin: 10px;
}