.inline{
    padding: 5px 0;
    display: inherit;
    align-items: center;
}
.row-status{
    margin: 10px 0;
}
.Status{
    text-align: right;
    width: 135px;
    color: black;
    font-size: 16px;
}
.col-md-6.ml-auto.mr-auto {
    text-align: center;
    margin: 0 0 30px 0;
}
#save {
    margin: 0 15px 0 0;
}
.mg{
    margin: 0 3%;
    }
mat-radio-button {
    width: 140px;
    padding: 0 10px 0 20px;
}
.select-field{
    padding: 0 0 0 20px;
}
.mat-form-field {
    padding: 0 0 0 20px;
    width: 600px;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.pull-left{
    position: absolute;
    left: 220px;
    top: 15px;
}
.check{
    padding: 0 0 0 20px;
}

.mat-checkbox-layout {
    margin: 0 10px;
}
.select-field-mar{
    margin: 0 0 0 150px;
    width: 600px;
}
mat-checkbox {
    margin: 0 20px 0 0;
}
.date{
    width: 200px;
}
mat-expansion-panel {
    border-radius: 5px;
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 15px;
}