.inline {
    padding: 5px 0;
    display: inherit;
    align-items: center;
}
.Status {
    text-align: right;
    width: 135px;
    color: black;
    font-size: 16px;
}
mat-radio-button {
    padding: 0 0 0 20px;
}

.select-field {
    padding: 0 0 0 20px;
}

.mat-form-field {
    padding: 0 0 0 20px;
}
.mg {
    margin: 0 3%;
}
.check {
    margin: 0 15px;
    width: 200px;
}
.checkbox-wrap {
    flex-wrap: wrap;
    line-height: 3;
}
.btn {
    margin-left: 20px;
}