<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">ข้อมูลผู้ติดต่อ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mg col-sm-6 col-lg-3  inline">
                <div><label class="Status">ชื่อผู้บันทึก</label></div>
                <mat-form-field>
                  <input matInput placeholder="ผู้บันทึก">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">วันที่รับเรื่อง</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="mg col-sm-6 col-lg-8 inline ">
                <div><label class="Status">สรุปงาน</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked"> เช้า</mat-radio-button>
                    <mat-radio-button value="2"> เที่ยง</mat-radio-button>
                    <mat-radio-button value="3"> บ่าย</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">เจ้าหน้าที่ถอดความในกะ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 inline ">
                <div class="checkbox-wrap inline">
                  <div *ngFor="let name of supervisor " class="check">
                      <div class="col-md-4 ">
                    <mat-checkbox>{{name}}</mat-checkbox>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">ล่ามภาษามือ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="checkbox-wrap inline ">
                <!-- <div><label class="Status inline">ล่ามภาษามือ</label></div> -->
                <div *ngFor="let Interpreters of Interpreter " class="check">
                  <div class="col-md-4 ">
                    <mat-checkbox>{{Interpreters}}</mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">เลือกช่วงเวลาคำนวนสถิติ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class=" inline ">
                <div><label class="Status">วันที่คำนวณ</label></div>
                <mat-form-field class=" inline ">
                  <input matInput [matDatepicker]="picker1" placeholder="วันที่คำนวณ" [formControl]="date" disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <div><label class="Status">เวลาเริ่มต้น</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <div><label class="Status">เวลาสิ้นสุด</label></div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <button class="btn btn-success"  (click)="btnexcut"> ประมวณผล</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>