.mat-raised-button.btn.btn-fullscreen.btn-link {
    color: rgb(167, 167, 167);
    font-weight: 100;
    font-size: 14px;
    padding: 0 5px;
    text-transform: capitalize;
    margin: 0;
}

.colorq {
    color: red;
    font-weight: 400;
}

#td-area {
    padding: 3px 3px;
}

.td-color {
    border-radius: 3px;
    background: linear-gradient(60deg, #a9a9a9, #a7a7a7);
    box-shadow: 0 3px 10px 0px rgba(171, 171, 171, 0.14), 0 5px 5px -5px rgba(179, 179, 179, 0.5);
}

#area {
    padding-bottom: 12px;
}

#boxservice {
    padding: 3px 0;
    border-radius: 100px;
    text-shadow: 3px 0px 7px #2196f357;
    background: whitesmoke;

}

.center-icon {
    align-items: center;
    display: flex;
}

.material-icons {
    font-size: 20px;
}

.iconfullscreen {
    position: absolute;
    right: 40px;
    float: right;
    top: 70px;
    height: 30px;
    border-radius: 5px;
    background: white;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 20px 0px rgba(148, 148, 148, 0.14), 0 7px 12px -5px rgba(161, 161, 161, 0.5);
    z-index: 5;
}

.iconfullscreen:hover {
    background: rgb(231, 231, 231);
}

.row {
    margin-top: 45px;
}

.col-md-12 {
    padding-bottom: 3px;
}

.card {
    margin: 0;
}

.card-category {
    font-size: 18px;
}

.card .card-header-warning .card-text {
    background: linear-gradient(60deg, #4d96f3, #4f99f3);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(150, 180, 255, 0.5);
}

.card .card-header.card-header-icon .card-title,
.card .card-header.card-header-text .card-title {
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 6px 0;
    vertical-align: middle;
}

.table>tbody>tr>th {
    border: 0;
}

.service {
    padding: 0;
    vertical-align: middle;
}

.table th,
.table td {
    vertical-align: top;
    border-width: 0;
}

.card-width {
    width: 100%;
}

.card [class*="card-header-"] .card-icon,
.card [class*="card-header-"] .card-text {
    border-radius: 10px;
    padding: 10px 0;
    margin-top: -30px;
    margin-right: 15px;
    text-align: center;
}

.container-fluid {
    background-color: #eeeeee;
    padding: 0 40px;
    overflow: auto;
}

.main-content {
    margin-top: 0;
    padding: 15px 0 0 0;
    min-height: calc(100vh - 123px);
}

.dashboard:hover {
    cursor: pointer;
}

.header,
.text-center {
    margin-bottom: 0;
}

.table th,
.table td {
    vertical-align: 0;
    border-width: 0;
}

.full {
    display: block;
    overflow: auto;
}

.checkbox label,
.radio label,
label {
    font-size: 16px;
    line-height: 1.42857;
    color: #110052;
    margin: 0;
    font-weight: 300;
}

.table {
    margin: 0;
}

.text-info {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #ffffff !important;
}

.text-primary {
    color: #2196F3 !important;
}

.service label {
    color: #274ab0;
    font-size: 16px;
    font-weight: 400;
    background: #fefefe;
    /* border-radius: 10px; */
    padding: 0 10px;
    /* box-shadow: 0 4px 20px 0px rgba(99, 99, 99, 0.07), 0 7px 10px -5px rgba(222, 222, 222, 0.46); */
}

td:hover {
    background-color: #9a9a9a2b;
}

.fullscreen {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #eeeeee;
}

.main-panel .header .title {
    margin-top: 0;
    margin-bottom: 10px;
}

.content {
    padding: 0 0;
}

.content:hover {
    cursor: pointer;
}

.marquee {
    background: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    padding: 2px 0;
    align-items: center;
    display: flex;
}

h5 {
    font-size: 17px;
    margin-bottom: 0px !important;
    font-weight: 500;
}

.mobile {
    display: none;
}

.service {
    background: none;
}

.border {
    height: 30px;
    background: #4281d2;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.value {
    text-align: center;
}

.img {
    border-radius: 3px;
}

.card .card-body {
    padding: 10px 20px;
    position: relative;
}

@media screen and (max-width: 830px) {
    .container-f {
        margin-left: 15px;
        margin-right: 15px;
    }
    .dashboard-title {
        background: linear-gradient(60deg, #4d96f3, #4f99f3);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(150, 180, 255, 0.5);
        border-radius: 10px;
        padding: 10px 0;
        margin-top: -40px;
        margin-bottom: 10px;
        text-align: center;
    }
    .TTRS-card-title {
        color: rgb(255, 255, 255) !important;
        font-size: 22px !important;
        font-weight: 500 !important;
    }
    .card-title {
        color: #2196F3 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    .card-category:not([class*="text-"]) {
        color: #ffffffa1;
        font-size: 18px;
        margin: 0px;
    }
    .container {
        padding: 10px;
        text-align: center;
    }
    .main-content {
        width: 100%;
        margin-top: 110px;
        padding: 0 25px;
        padding-bottom: 10px;
    }
    .mobile {
        display: block;
    }
    .full {
        display: none;
    }
    .table .table-bordered {
        display: inline;
    }
    table {
        width: 100%;
    }
    table tr th {
        width: 60%;
    }
    table tr td {
        width: 20%;
    }
    h3.title {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        cursor: default;
        text-shadow: -1px -2px 0.5px #b5b5b5;
    }
    .btn.btn-primary.btn-link.mat-raised-button {
        position: absolute;
        height: 20px;
        padding: 0;
        margin: 0;
    }
    .menu {
        font-size: 20px;
        color: black;
    }
    .content {
        padding: 0;
    }
    .dropdown,
    .dropup {
        padding: 5px 0;
        position: relative;
        width: 55px;
    }
    #dropdownMenuButton {
        margin: 0;
        align-items: center;
        padding: 10px 5px;
        display: flex;
    }
    .header,
    .text-center {
        margin-top: 20px;
    }
    .main-panel .header {
        margin-bottom: 0;
    }
    .td-color {
        text-align: right;
    }
    .tr-color {
        font-size: 18px;
        text-align: right;
        padding-right: 10px;
        font-weight: 700;
        margin: 0px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 5px 0;
        vertical-align: middle;
    }
    .mat-option:hover {
        cursor: pointer;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(30, 125, 233, 0.4);
        background: linear-gradient(60deg, #4d95f3bb, #4f99f3ad) !important;
        color: rgb(255, 255, 255) !important;
    }
    .mat-option.mat-selected:not(.mat-option-multiple) {
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(30, 125, 233, 0.4);
        background: linear-gradient(60deg, #4d95f3b6, #4f99f3a9) !important;
        color: rgb(255, 255, 255) !important;
    }
    .card .card-header-warning .card-text {
        background: linear-gradient(60deg, #afe8f1b6, #bff6ffa9);
        box-shadow: none;
    }
    .mat-form-field {
        width: 120px;
        height: 50px;
        margin-top: 5px;
    }
    .card {
        margin: 0;
        border-radius: 6px;
    }
    .card .card-header.card-header-icon .card-title,
    .card .card-header.card-header-text .card-title {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    .mat-select .mat-select-value-text span {
        font-size: 16px;
    }
    .card [class*="card-header-"] .card-icon,
    .card [class*="card-header-"] .card-text {
        /* border-radius: 100%; */
        padding: 12px;
        margin-top: -55px;
        margin-right: 0;
        float: right;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid rgba(0, 0, 0, 0.06);
    }
    .table-responsive.shado.raduis {
        border-radius: 0 0 10px 10px;
    }
    .header,
    .text-center {
        margin-top: 0;
    }
    .border {
        z-index: 3;
    }
    .card .card-body {
        padding: 0;
        position: relative;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media screen and (min-width: 1400px) {
    h5 {
        font-size: 25px;
        margin-bottom: 0px !important;
        font-weight: 500;
    }
    .card .card-header.card-header-text .card-title {
        margin: 0 10px;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    .card-category {
        font-size: 30px;
    }
    #area {
        padding-bottom: 18px;
    }
    #td-area {
        padding: 6px ;
    }
    .row {
        margin-top: 50px;
    }
    .text-info {
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        text-align: center;
        color: #ffffff !important;
    }
    .iconfullscreen{
        top: 70px;
        height: 40px;
    }
    .material-icons{
        font-size: 25px;
    }
    .mat-raised-button.btn.btn-fullscreen.btn-link {
        font-size: 18px;
    }
    .service label {
        font-size: 23px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 9px 0;
        vertical-align: middle;
    }
    label {
        font-size: 25px;
        line-height: 1.42857;
        color: #010d50;
        margin: 0;
        font-weight: 300;
    }
    .border {
        height: 35px;
        background: #4281d2;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    .marquee {
        background: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 100;
        margin: auto;
        padding: 5px 0;
        display: flex;
    }
    .container-fluid {
       margin: 10px 0 ;
    }
}
@media screen and (min-width: 2000px) {
    h5 {
        font-size: 35px;
        margin-bottom: 0px !important;
        font-weight: 500;
    }
    .card .card-header.card-header-text .card-title {
        margin: 0 10px;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    .card-category {
        font-size: 30px;
    }
    #area {
        padding-bottom: 20px;
    }
    #td-area {
        padding: 8px ;
    }
    .row {
        margin-top: 50px;
    }
    .text-info {
        font-weight: 400;
        font-size: 25px;
        margin: 0;
        text-align: center;
        color: #ffffff !important;
    }
    .iconfullscreen{
        top: 70px;
        height: 50px;
    }
    .material-icons{
        font-size: 30px;
    }
    .mat-raised-button.btn.btn-fullscreen.btn-link {
        font-size: 20px;
    }
    .service label {
        
        font-size: 38px;
        font-weight: 400;
      
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 12px 0;
        vertical-align: middle;
    }
    label {
        font-size: 30px;
        line-height: 1.42857;
        color: #010d50;
        margin: 0;
        font-weight: 300;
    }
    .border {
        height: 40px;
        background: #4281d2;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    .marquee {
        background: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
        padding: 7px 0;
        display: flex;
    }
    .container-fluid {
       margin: 10px 0 ;
    }
}