<div class="full">
  <div class="main-content">
    <div title="Fullscreen" class="iconfullscreen">
      <button id="button" mat-raised-button class="btn btn-link btn-fullscreen">
        <div class="center-icon">
          <i class="material-icons">
            fullscreen
          </i>
          Fullscreen
        </div>
      </button>
    </div>

    <div id="target" class="fullscreen">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-text card-header-warning">
                <div class="card-text card-width">
                  <h4 class="card-title">TTRS Dashboard</h4>
                  <p class="card-category">(2018-04-19 {{dashboard.last_update_timestamp_sms|date:'HH:mm:ss'}})</p>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" >
                    <thead class="text-primary">
                      <tr>
                        <th id="area" style="text-align: center  ">
                          <h5 id="boxservice">Infomation / Service </h5>
                        </th>
                        <th id="area" *ngFor="let dataservices of service1" style="text-align: center;">
                          <h5 id="boxservice">{{dataservices}}</h5>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th colspan=7 id="td-area" class="td-color">
                          <h6 class="text-info">Agents</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td *ngFor="let data of datametric">

                          <label>{{data}}</label>
                        </td>

                        <td id="agent_free_sms" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_free_sms}}</label> -->
                        </td>
                        <td id="agent_free_ttrsmessage" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_free_ttrsmessage}}</label> -->
                        </td>
                        <td id="agent_free_textchat" style="text-align: center;">
                          <label>{{dashboard.agent_free_textchat}}</label>
                        </td>
                        <td id="agent_free_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_free_captioned}}</label>
                        </td>
                        <td id="agent_free_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_free_videophone}}</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <label>{{dashboard.agent_free_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>xxxxxxxxxxxxxx</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_sms" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_busy_sms}}</label> -->
                        </td>
                        <td id="agent_busy_ttrsmessage" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_busy_ttrsmessage}}</label> -->
                        </td>
                        <td id="agent_busy_textchat" style="text-align: center;">
                          <label>{{dashboard.agent_busy_textchat}}</label>
                        </td>
                        <td id="agent_busy_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_busy_captioned}}</label>
                        </td>
                        <td id="agent_busy_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_busy_videophone}}</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <label>{{dashboard.agent_busy_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_sms" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_block_sms}}</label> -->
                        </td>
                        <td id="agent_block_ttrsmessage" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_block_ttrsmessage}}</label> -->
                        </td>
                        <td id="agent_block_textchat" style="text-align: center;">
                          <!-- <label>{{dashboard.agent_block_textchat}}</label> -->
                        </td>
                        <td id="agent_block_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_block_captioned}}</label>
                        </td>
                        <td id="agent_block_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_block_videophone}}</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <label>{{dashboard.agent_block_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th colspan=7 id="td-area" class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_sms > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_sms}}</label>
                        </td>
                        <td id="queue_waiting_num_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_ttrsmessage > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_ttrsmessage}}</label>
                        </td>
                        <td id="queue_waiting_num_textchat" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_textchat > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_textchat}}</label>
                        </td>
                        <td id="queue_waiting_num_captioned" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_captioned > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_captioned}}</label>

                        </td>
                        <td id="queue_waiting_num_videophone" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_videophone > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_videophone}}</label>
                        </td>
                        <td id="queue_waiting_num_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_ttrsvideo > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label [ngClass]="xxx > 3 ? 'colorq' : 'true'">x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_sms > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_sms) }}</label>
                        </td>
                        <td id="queue_waiting_longest_sec_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_ttrsmessage > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_ttrsmessage) }}</label>
                        </td>
                        <td id="queue_waiting_longest_sec_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_waiting_longest_sec_textchat > 420   ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_waiting_longest_sec_textchat) }}</label> -->
                        </td>
                        <td id="queue_waiting_longest_sec_captioned" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_captioned > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_captioned) }}</label>
                        </td>
                        <td id="queue_waiting_longest_sec_videophone" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_videophone > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_videophone) }}</label>
                        </td>
                        <td id="queue_waiting_longest_sec_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_ttrsvideo > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label [ngClass]="xxx >  420 ? 'colorq' : 'true'">x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_sms > 3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_sms}}</label>
                        </td>
                        <td id="queue_emg_waiting_num_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_ttrsmessage >3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_ttrsmessage}}</label>
                        </td>
                        <td id="queue_emg_waiting_num_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_textchat >3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_textchat}}</label> -->
                        </td>
                        <td id="queue_emg_waiting_num_captioned" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_captioned >3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_captioned}}</label> -->
                        </td>
                        <td id="queue_emg_waiting_num_videophone" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_videophone >3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_videophone}}</label> -->
                        </td>
                        <td id="queue_emg_waiting_num_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_ttrsvideo >3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label [ngClass]="xxx > 3 ? 'colorq' : 'true'">x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_sms > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_emg_waiting_longest_sec_sms) }}</label>
                        </td>
                        <td id="queue_emg_waiting_longest_sec_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_ttrsmessage > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_emg_waiting_longest_sec_ttrsmessage) }}</label>
                        </td>
                        <td id="queue_emg_waiting_longest_sec_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_textchat >420? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_textchat) }}</label> -->
                        </td>
                        <td id="queue_emg_waiting_longest_sec_captioned" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_captioned >420 ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_captioned) }}</label> -->
                        </td>
                        <td id="queue_emg_waiting_longest_sec_videophone" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_videophone >420 ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_videophone) }}</label> -->
                        </td>
                        <td id="dashboard.queue_emg_waiting_longest_sec_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_ttrsvideo >420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_emg_waiting_longest_sec_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label [ngClass]="xxx > 420 ? 'colorq' : 'true'">x</label>
                          </td> -->
                      </tr>
                      <tr>
                        <th colspan=7 id="td-area" class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_sms" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_sms) }}</label>
                        </td>
                        <td id="today_answer_ttrsmessage" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_ttrsmessage) }}</label>
                        </td>
                        <td id="today_answer_textchat" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_textchat) }}</label>
                        </td>
                        <td id="today_answer_captioned" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_captioned) }}</label>
                        </td>
                        <td id="today_answer_videophone" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_videophone) }}</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_sms" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_sms}}</label>
                        </td>
                        <td id="today_sla_percent_ttrsmessage" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_ttrsmessage}}</label>
                        </td>
                        <td id="today_sla_percent_textchat" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_textchat}}</label>
                        </td>
                        <td id="today_sla_percent_captioned" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_captioned}}</label>
                        </td>
                        <td id="today_sla_percent_videophone" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_videophone}}</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_ttrsvideo}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                        <td id="" style="text-align: center;">
                          <!-- <label>x</label> -->
                        </td>
                        <td id="" style="text-align: center;">
                          <!-- <label>x</label> -->
                        </td>
                        <td id="" style="text-align: center;">
                          <!-- <label>x</label> -->
                        </td>
                        <td id="" style="text-align: center;">
                          <!-- <label>x</label> -->
                        </td>
                        <td style="text-align: center;">
                          <label>{{dashboard.today_emg_sla_percent || 0}}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_sms) }}</label>
                        </td>
                        <td id="today_average_queue_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_ttrsmessage) }}</label>
                        </td>
                        <td id="today_average_queue_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_textchat) }}</label>
                        </td>
                        <td id="today_average_queue_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_captioned) }}</label>
                        </td>
                        <td id="today_average_queue_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_videophone) }}</label>
                        </td>
                        <td style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_sms) }}</label>
                        </td>
                        <td id="today_average_session_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_ttrsmessage) }}</label>
                        </td>
                        <td id="today_average_session_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_textchat) }}</label>
                        </td>
                        <td id="today_average_session_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_captioned) }}</label>
                        </td>
                        <td id="today_average_session_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_videophone) }}</label>
                        </td>
                        <td style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_sms) }}</label>
                        </td>
                        <td id="today_total_session_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_ttrsmessage) }}</label>
                        </td>
                        <td id="today_total_session_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_textchat) }}</label>
                        </td>
                        <td id="today_total_session_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_captioned) }}</label>
                        </td>
                        <td id="today_total_session_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_videophone) }}</label>
                        </td>
                        <td style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_ttrsvideo) }}</label>
                        </td>
                        <!-- <td id="" style="text-align: center;">
                            <label>x</label>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border">
        <ng-marquee>
          <mark class="marquee">สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)
            สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ
            (สวทช.)
          </mark>
        </ng-marquee>
      </div>
    </div>
  </div>
</div>

<div class="mobile">
  <div class="main-content">
    <div class="">
      <div class="card">
        <div class="container-f dashboard-title">
          <div class="card-text ">
            <h4 class="TTRS-card-title">TTRS Dashboard</h4>
            <p class="card-category">(2018-04-19 {{dashboard.last_update_timestamp_sms|date:'HH:mm:ss'}})</p>
          </div>
        </div>
        <div class="card-header card-header-text card-header-warning">
          <div class="card-body">
            <mat-form-field>
              <mat-select placeholder="Services" [(value)]="services">
                <mat-option [class.ative]="ser=='sms'" (click)="ser='sms'" value="SMS">SMS</mat-option>
                <mat-option [class.ative]="ser=='mess'" (click)="ser='mess'" value="Message">Message</mat-option>
                <mat-option [class.ative]="ser=='chat'" (click)="ser='chat'" value="Text Chat">Text Chat</mat-option>
                <mat-option [class.ative]="ser=='capt'" (click)="ser='capt'" value="Captioned">Captioned</mat-option>
                <mat-option [class.ative]="ser=='vp'" (click)="ser='vp'" value="VP">VP</mat-option>
                <mat-option [class.ative]="ser=='vdo'" (click)="ser='vdo'" value="Video">Video</mat-option>
          
              </mat-select>
            </mat-form-field>
            <div class="card-text">
              <h5 class="card-title">{{services}}</h5>
            </div>
          </div>
          <div class="card-content content">
            <div class="table-responsive shado raduis">
              <div [ngSwitch]="ser">
                <div *ngSwitchCase="'mess'">
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_ttrsmessage" style="text-align: center;">
                          <label><label>{{dashboard.agent_free_ttrsmessage}}</label></label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_ttrsmessage" style="text-align: center;">
                          <label>{{dashboard.agent_busy_ttrsmessage}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_ttrsmessage" style="text-align: center;">
                          <label>{{dashboard.agent_block_ttrsmessage}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_ttrsmessage >3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_ttrsmessage}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_ttrsmessage > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_ttrsmessage) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_ttrsmessage >3  ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_ttrsmessage}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_ttrsmessage" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_ttrsmessage > 420  ? 'colorq' : 'true'">{{secToTime(dashboard.queue_emg_waiting_longest_sec_ttrsmessage)
                            }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_ttrsmessage" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_ttrsmessage) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_ttrsmessage" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_ttrsmessage}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <!-- <label>x</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_ttrsmessage) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_ttrsmessage) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_ttrsmessage" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_ttrsmessage) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngSwitchCase="'chat'">
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_textchat" style="text-align: center;">
                          <label>{{dashboard.agent_free_textchat}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_textchat" style="text-align: center;">
                          <label>{{dashboard.agent_busy_textchat}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_textchat" style="text-align: center;">
                          <label>{{dashboard.agent_block_textchat}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_textchat" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_textchat >3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_textchat}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_waiting_longest_sec_textchat > 420  ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_waiting_longest_sec_textchat) }}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_textchat >3  ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_textchat}}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_textchat" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_textchat > 420  ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_textchat) }}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_textchat" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_textchat) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_textchat" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_textchat}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_textchat) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_textchat) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_textchat" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_textchat) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngSwitchCase="'capt'">
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_free_captioned}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_busy_captioned}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_captioned" style="text-align: center;">
                          <label>{{dashboard.agent_block_captioned}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_captioned" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_captioned >3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_captioned}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_captioned" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_captioned > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_captioned) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_captioned" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_captioned >3  ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_captioned}}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_captioned" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_captioned > 420  ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_captioned) }}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_captioned" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_captioned) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_captioned" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_captioned}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_captioned) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_captioned) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_captioned" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_captioned) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngSwitchCase="'vp'">
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_free_videophone}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_busy_videophone}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_videophone" style="text-align: center;">
                          <label>{{dashboard.agent_block_videophone}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_videophone" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_videophone >3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_videophone}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_videophone" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_videophone > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_videophone) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_videophone" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_num_videophone > 3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_videophone}}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_videophone" style="text-align: center;">
                          <!-- <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_videophone > 420 ? 'colorq' : 'true'">{{ secToTime(dashboard.queue_emg_waiting_longest_sec_videophone) }}</label> -->
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_videophone" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_videophone) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_videophone" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_videophone}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_videophone) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_videophone) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_videophone" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_videophone) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngSwitchCase="'vdo'">
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_ttrsvideo" style="text-align: center;">
                          <label>{{dashboard.agent_free_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_ttrsvideo" style="text-align: center;">
                          <label>{{dashboard.agent_busy_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_ttrsvideo" style="text-align: center;">
                          <label>{{dashboard.agent_block_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_ttrsvideo > 3 ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_ttrsvideo > 420 ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_ttrsvideo) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_ttrsvideo > 3 ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_ttrsvideo" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_ttrsvideo > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_emg_waiting_longest_sec_ttrsvideo) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_ttrsvideo" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_ttrsvideo) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_ttrsvideo" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_ttrsvideo}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_ttrsvideo" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_ttrsvideo) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_ttrsvideo" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_ttrsvideo) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_ttrsvideo" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_ttrsvideo) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngSwitchDefault>
                  <table class="table " title="TTRS Dashboard">
                    <thead>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">AGENTS</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="service">
                          <label>Free :</label>
                        </th>
                        <td id="agent_free_sms" style="text-align: center;">
                          <label>{{dashboard.agent_free_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Busy :</label>
                        </th>
                        <td id="agent_busy_sms" style="text-align: center;">
                          <label>{{dashboard.agent_busy_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Block :</label>
                        </th>
                        <td id="agent_block_sms" style="text-align: center;">
                          <label>{{dashboard.agent_block_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=2 class="td-color">
                          <h6 class="text-info">Queue</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Waiting :</label>
                        </th>
                        <td id="queue_waiting_num_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_num_sms > 3  ? 'colorq' : 'true'">{{dashboard.queue_waiting_num_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Longest Waiting :</label>
                        </th>
                        <td id="queue_waiting_longest_sec_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_waiting_longest_sec_sms > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_waiting_longest_sec_sms) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_num_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_num_sms > 3  ? 'colorq' : 'true'">{{dashboard.queue_emg_waiting_num_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer. Longest Waiting :</label>
                        </th>
                        <td id="queue_emg_waiting_longest_sec_sms" style="text-align: center;">
                          <label [ngClass]="dashboard.queue_emg_waiting_longest_sec_sms > 420  ? 'colorq' : 'true'">{{
                            secToTime(dashboard.queue_emg_waiting_longest_sec_sms) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th colspan=7 class="td-color">
                          <h6 class="text-info">Today</h6>
                        </th>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Answer :</label>
                        </th>
                        <td id="today_answer_sms" style="text-align: center;">
                          <label>{{ (dashboard.today_answer_sms) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>SLA :</label>
                        </th>
                        <td id="today_sla_percent_sms" style="text-align: center;">
                          <label>{{dashboard.today_sla_percent_sms}}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Emer.SLA :</label>
                        </th>
                        <td id="" style="text-align: center;">
                          <label>x</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg.Queue :</label>
                        </th>
                        <td id="today_average_queue_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_queue_sec_sms) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Avg. Session :</label>
                        </th>
                        <td id="today_average_session_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_average_session_sec_sms) }}</label>
                        </td>
                      </tr>
                      <tr>
                        <th class="service">
                          <label>Session :</label>
                        </th>
                        <td id="today_total_session_sec_sms" style="text-align: center;">
                          <label>{{ secToTime(dashboard.today_total_session_sec_sms) }}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <a href="/logout">Logout</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="border">
          <ng-marquee>
            <mark class="marquee">สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)</mark>
          </ng-marquee>
        </div>
      </div>
    </div>
  </div>
</div>