.ico {
    font-size: 26px !important;
}
.contact{
    margin-right: 20px;
}
.ico-mg{
    font-size: 40px;
    margin-right: 20px;
}
.line{
    display: inline;
}
.mg-l{
    margin-left: 20px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}