.inline {
    padding: 5px 0;
    display: inherit;
    align-items: center;
}

.row-status {
    margin: 10px 0;
}

.Status {
    text-align: right;
    width: 120px;
    margin-right: 10px;
    color: black;
    font-size: 16px;
}

mat-radio-button {
    width: 140px;
    padding: 0 10px 0 20px;
}

.select-field {
    padding: 0 0 0 20px;
}

.mat-form-field {
    padding: 0 0 0 20px;
}


#save {
    margin: 0 15px 0 0;
}

.ml-col {
    margin: 0 65px;
}

.data-m {
    margin: 10px;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.r-col {
    margin-right: 0px;
}

.mg {
    margin: 0 4%;
}
.ma-radio{
    margin-right: 10px;
}
.mat-raised-button.btn.btn-warning, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-warning, .btn.btn-warning {
    color: #fff;
    background-color: #CDDC39;
    border-color: #CDDC39;
    box-shadow: 0 2px 2px 0 rgba(205, 220, 57, 0.15), 0 3px 1px -2px rgba(205, 220, 57, 0.25), 0 1px 5px 0 rgba(205, 220, 57, 0.15);
}