<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">ข้อมูลผู้ติดต่อ</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ชื่อผู้ใช้บริการ</label></div>
                <mat-form-field>
                  <input matInput placeholder="ชื่อผู้ใช้บริการ">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">นามสกุล</label></div>
                <mat-form-field>
                  <input matInput placeholder="นามสกุล">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">เบอร์โทร</label></div>
                <mat-form-field>
                  <input matInput placeholder="เบอร์โทร">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">ชื่อผู้ติดต่อปลายทาง</label></div>
                <mat-form-field>
                  <input matInput placeholder="ชื่อผู้ติดต่อปลายทาง">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">นามสกุล</label></div>
                <mat-form-field>
                  <input matInput placeholder="นามสกุล">
                </mat-form-field>
              </div>
              <div class="mg col-sm-6 col-lg-3 inline">
                <div><label class="Status">เบอร์ปลายทาง</label></div>
                <mat-form-field>
                  <input matInput placeholder="เบอร์ปลายทาง">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">รายละเอียด</h4>
          </div>
          <div class="card-body">
            <div style="width:50%; float:left;" class="row row-status">
              <div class="col-md-12 inline ">
                <div><label class="Status">สถานะรับเรื่อง</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked" (click)="changValue(true)"> รับเรื่องสมบูรณ์</mat-radio-button>
                    <mat-radio-button value="2" (click)="changValue(false)"> รับเรื่องไม่สมบูรณ์</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status">ประเภทเรื่อง</label> </div>
                <mat-form-field *ngIf="isValid" class="select-field">
                  <mat-select placeholder="รับเรื่องสมบรูณ์">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!isValid" class="select-field">
                  <mat-select *ngIf="!isValid" placeholder="รับเรื่องไม่สมบรูณ์">
                    <mat-option *ngFor="let food of foods2" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline">
                <div><label class="Status"> ข้อความรับเรื่อง </label> </div>
                <mat-form-field>
                  <textarea matInput placeholder="รายละเอียดการสนทนา"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">รูปแบบการโทร</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked"> Making Call</mat-radio-button>
                    <mat-radio-button value="2"> Receiving Call</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12 inline ">
                <div><label class="Status">รูปแบบการบริการ</label></div>
                <div class="">
                  <mat-radio-group>
                    <mat-radio-button value="1" checked="checked"> Normal</mat-radio-button>
                    <mat-radio-button value="2"> Emergency</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div style="width:50%; float:left;">
              <div class="col-md-12">
                <div><label class="Status">บันทึกการสนทนา</label></div>
                <div class="history">
                  <div *ngFor="let history2 of history">
                    <p class="text">{{history2}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <button class="btn btn-success" id="save" (click)="btnsave"> บันทึก</button>
            <button class="btn btn-danger" id="cancel" (click)="btncancel"> ยกเลิก</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>